* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  padding: 0;
  overflow: hidden;
  height: inherit;
  font-family: 'Roboto slab';
  background-color: rgb(40, 52, 78);
}

button {
  border-style: none;
  background-color: none;
}
